#soundeditor{
  display:none;
}

body{
  background:#ddf;
  font-family: 'Roboto Condensed', sans-serif;
}

a{
  color:#fff;
}

#container{
  background:#333;
  background:linear-gradient(#000 0%,#888 1%,#333 2%,#222 99%,#000 100%);
  background:linear-gradient(#004 0%,#88c 1%,#338 2%,#226 99%,#004 100%);
  padding:5px 30px;
  color:#ccc;
}

#logo{
  padding:10px 0px;
}

h1{
  margin:0px 0px;
  font-weight: 300;
  font-family: 'Audiowide', cursive;
}

#base {
    width:1000px;
    margin:0 auto;
    background:#000;
    padding:0px 20px 20px 20px;
    color:#fff;
}

#aboutcontents{
  box-sizing: border-box;
  overflow:hidden;
  transition: .2s;
  background:#ddf;
  color:#000;
  height:0px;
  padding:0px 20px;
}

button{
  height:40px;
}

td{
  text-align: center;
  padding:4px;
}

.td_align_right {
  padding: 4px;
  margin-left: 50px;
}

label{
  display:inline-block;
  background:#ddf;
  border:1px solid #66e;
  width:70px;
  text-align: center;
  margin:4px 1px;
  color:#000;
}
